/*
*   author: patrice-morgan ongoly
*   version: 0.1.0
*   description: styling and logic for the launch page of a mixed/augmented/virtual reality experience
*/

* {
    margin: 0;
    padding: 0;
}

input[type='button']{
    outline: none;
}

body, html{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

::-webkit-scrollbar-button {
    background-color: white;
}

::-webkit-scrollbar-track-piece {
    background-color: black;
}

#grio-controller-gui-container{
    position: relative;
    width: 100%;/*300px;*/
    height: 100%;/*400px;*/
    margin: 0;/*5% auto;*/
    border: 2px black solid;
    border-radius: 0;/*15px;*/
    font-family: monospace;
    cursor: pointer;
    overflow-y: scroll;
}

.grio-controller-page{
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
    font-size: 0;
}

#snack-shack-main-menu-options, #stream-main-menu, #stream-channel-page, #deliver-main-menu, #deliver-drinks-menu, #deliver-snacks-menu, #deliver-18-menu{
  width: inherit;
  height: inherit;
}

/* PAGE 0 */

#grio-controller-page-0{

}

.main-option-button{
    opacity: 0.40;
    width: 100%;
    height: 50%;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    line-height: 350px;
    color: white;
    transition: opacity 0.5s;
}

.main-option-button:hover{
    opacity: 0.75;
}

#stream-main-option{
    background-color: rgba(255, 0, 0, 1.0);
    border-radius: 15px 15px 0 0;
}

#deliver-main-option{
    background-color: rgba(0, 0, 255, 1.0);
    border-radius: 0 0 15px 15px;
}


/* PAGE 1 */
.back-to-main-button, #close-stream-button, .back-to-deliver-menu-button, #close-payment-page-button{
    font-size: 16px;
    line-height: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 150;
    color: red;
    text-align: center;
    background-color: rgba(255, 255, 255, 1.0);
}

.stream-option-button, .deliver-18-option-button{
    position: relative;
    width: 100%;
    height: 30%;/*133px;*/
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: white;
    border-bottom: 2px white solid;
    background-color: black;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.stream-option-button:hover, .deliver-option-button:hover, .deliver-drinks-option-button:hover, .deliver-snacks-option-button:hover, .deliver-18-option-button:hover{
    opacity: 1.0;
}

.stream-option-title, .deliver-option-title, .deliver-drinks-option-title, .deliver-snacks-option-title, .deliver-18-option-title{
    position: absolute;
    top: 20%;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-weight: 400;
    transition: font-weight 0.5;
}

.stream-option-title:hover, .deliver-option-title:hover, .deliver-drinks-option-title:hover, .deliver-snacks-option-title:hover, .deliver-18-option-title:hover{
    font-weight: 900;
}

.stream-option-label, .deliver-option-label, .deliver-drinks-option-label, .deliver-snacks-option-label, .deliver-18-option-label{
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;
    bottom: 20%;
}

.deliver-option-button{
    position: relative;
    width: 100%;
    height: 30%;/*133px;*/
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: black;
    border-bottom: 2px black solid;
    background-color: white;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.deliver-drinks-option-button{
    position: relative;
    width: 100%;
    height: 30%;/*133px;*/
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: black;
    border-bottom: 2px black solid;
    background-color: yellow;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.deliver-snacks-option-button{
    position: relative;
    width: 100%;
    height: 30%;/*133px;*/
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: white;
    border-bottom: 2px white solid;
    background-color: red;
    opacity: 0.5;
    transition: opacity 0.5s;
}

#stream-container{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 300px;
    margin-top: 5%;
}

.stream-interaction-button{
    display: inline-block;
    width: 75px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#comment-on-stream-button{
    background-image: url('../media/img/comment-icon.png');
    background-size: 110% 110%;
}

#share-stream-button{
    background-image: url('../media/img/share-icon.png');
    background-size: 60% 75%;
}

#submit-payment-form-button{
    width: 80%;
    height: 15%;
    min-height: 75px;
    border-radius: 10px;
    position: absolute;
    bottom: 5%;
    left: 10%;
    background-color: aquamarine;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 75px;
}

#toggle-power-button{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 75px;/*35px;*/
    height: 75px;/*35px;*/
    line-height: 75px;/*35px;*/
    text-align: center;
    font-weight: 900;
    border-radius: 50%;
    background-color: red;
    color: white;
    z-index: 500;
}

#connect-code-input{
    width: 100%;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 30%;
    border-radius: 10px;
    color: black;
    background-color: white;
    border: 2px white solid;
}

#connect-code-button{
    width: 60%;
    height: 20%;
    min-height: 150px;
    max-height: 250px;
    position: absolute;
    top:55%;
    left: 50%;
    line-height: 150px;
    font-size: 16px;
    text-align: center;
    margin-left: -30%;
    border-radius: 10px;
    color: white;
    background-color: blue;
    cursor: pointer;
    transition: background-color 0.25s;
}

#connect-code-button:hover{
    backround-color: aquamarine;
}
