<html>
<head>
    <title>AugR</title>
    <link rel="stylesheet" href="./css/AugR.css" type="text/css" />
    <script src="./js/leap-0.6.4.js"></script>
    <script src="./js/leap-plugins-0.1.6.js"></script>
    <script src="./js/socket.io.js"></script>
    <script src="./js/three.js"></script>
    <script src="./js/aframe092.min.js"></script>
    <script src="./js/camera-browser.js"></script>
    <script>
        var colors = [0xff0000, 0x00ff00, 0x0000ff];
        var baseBoneRotation = (new THREE.Quaternion).setFromEuler(new THREE.Euler(Math.PI / 2, 0, 0));

        var sessionManager = {
            connection: null,
            hand: {
                position: null,
                fistClosed: false,
                lastMove : "hover",
                lastPosition: null,
                inGrasp: []
            },
            statusShown: false,
            screenCount: 1,
        };

        var objectManager = {
          "drop-box-container": {
              type: "a-box",
              id: "drop-box-container",
              position: "-1 0.5 -3",
              posArray: [
                0,
                0.5,
                -3
              ],
              marginArray: [
                -30,
                30,
                30,
                120,
                -100,
                50
              ],
              rotation: "0 45 0",
              color: "#4CC3D9",
              graspColor: "#FF0000",
              inGrasp: false
          }
        };
/*-10 -- 10
50 -- 120
70 -- 130*/
        Leap.loop({background: true}, {
            hand: function (hand) {
                hand.fingers.forEach(function (finger) {
                  // This is the meat of the example - Positioning `the cylinders on every frame:
                  finger.data('boneMeshes').forEach(function(mesh, i){
                      var bone = finger.bones[i];
                      mesh.position.fromArray(bone.center());
                      mesh.setRotationFromMatrix(
                        (new THREE.Matrix4).fromArray( bone.matrix() )
                      );
                      mesh.quaternion.multiply(baseBoneRotation);
                  });

                  finger.data('jointMeshes').forEach(function(mesh, i){
                      var bone = finger.bones[i];
                      if (bone) {
                        mesh.position.fromArray(bone.prevJoint);
                      }
                      else{
                      // special case for the finger tip joint sphere:
                      bone = finger.bones[i-1];
                      mesh.position.fromArray(bone.nextJoint);
                    }
                  });

                });
                //console.log(hand.palmPosition[0]);
                //console.log(`0: ${hand.thumb.extended} 1: ${hand.indexFinger.extended} 2: ${hand.middleFinger.extended} 3: ${hand.ringFinger.extended} 4: ${hand.pinky.extended}`);
                sessionManager.hand.position = hand.palmPosition;
                //console.log(sessionManager.hand.position);

// range test

                let obj = objectManager;
                if(obj["drop-box-container"].marginArray[0]<hand.palmPosition[0]&&hand.palmPosition[0]<obj["drop-box-container"].marginArray[1]&&obj["drop-box-container"].marginArray[2]<hand.palmPosition[1]&&hand.palmPosition[1]<obj["drop-box-container"].marginArray[3]&&obj["drop-box-container"].marginArray[4]<hand.palmPosition[2]&&hand.palmPosition[2]<obj["drop-box-container"].marginArray[5]){
                  console.log("in range");
                  if(!(hand.thumb.extended||hand.indexFinger.extended||hand.middleFinger.extended||hand.ringFinger.extended||hand.pinky.extended)){
                    sessionManager.fistClosed = true;
                    //let obj = objectManager;
                      if(!objectManager["drop-box-container"].inGrasp){
                        objectManager["drop-box-container"].inGrasp = true;
                        document.getElementById(objectManager["drop-box-container"].id).setAttribute("material", "color", objectManager["drop-box-container"].graspColor);
                      }
                    }
                    else{
                      if(objectManager["drop-box-container"].inGrasp){
                        console.log(`box dropped at new height ${sessionManager.hand.position[2]}`);
                        document.getElementById(objectManager["drop-box-container"].id).setAttribute("material", "color", objectManager["drop-box-container"].color);
                        objectManager["drop-box-container"].inGrasp = false;

                        let dropBall = setInterval(function(){
                          if(!objectManager["drop-box-container"].inGrasp&&objectManager["drop-box-container"].posArray[1]>0.5){
                            let spacer = objectManager["drop-box-container"].marginArray[3]-objectManager["drop-box-container"].marginArray[2];
                            objectManager["drop-box-container"].marginArray[2] -= spacer/10;
                            objectManager["drop-box-container"].marginArray[3] -= spacer/10;

                            objectManager["drop-box-container"].posArray[1]-= 0.10;
                            document.getElementById(objectManager["drop-box-container"].id).object3D.position.set(objectManager["drop-box-container"].posArray[0], objectManager["drop-box-container"].posArray[1], objectManager["drop-box-container"].posArray[2]);

                            console.log(`move the ball on the y axis`);
                          }
                          else{
                            console.log(`margin boundary lower ${obj["drop-box-container"].marginArray[2]} upper ${obj["drop-box-container"].marginArray[2]}`);
                            clearInterval(dropBall);
                          }
                        }, 50);
                      }
                    }
                }

                if(sessionManager.hand.lastPosition==null){
                    sessionManager.hand.lastPosition = [];
                    sessionManager.hand.lastPosition.push(sessionManager.hand.position[0]);
                    sessionManager.hand.lastPosition.push(sessionManager.hand.position[1]);
                    sessionManager.hand.lastPosition.push(sessionManager.hand.position[2]);
                }
                else{
                  let diffs = [
                    sessionManager.hand.lastPosition[0]-sessionManager.hand.position[0],
                    sessionManager.hand.lastPosition[1]-sessionManager.hand.position[1],
                    sessionManager.hand.lastPosition[2]-sessionManager.hand.position[2],
                  ];


                  for(var x = 0 ; x< diffs.length; x++){
                    (function(){
                      let tolerance = objectManager["drop-box-container"].marginArray[2*x]-objectManager["drop-box-container"].marginArray[2*x+1];
                        if(Math.abs(diffs[x])>tolerance&&objectManager["drop-box-container"].inGrasp){
                          let axis = [
                            "x",
                            "y",
                            "z"
                          ];

                          if(Math.abs(diffs[x])>0&&x==1){
                            let spacer = objectManager["drop-box-container"].marginArray[2*x+1]-objectManager["drop-box-container"].marginArray[2*x];
                            objectManager["drop-box-container"].marginArray[2*x] += spacer/20;
                            objectManager["drop-box-container"].marginArray[2*x+1] += spacer/20;
                            console.log(`move the ball on the ${axis[x]} axis`);
                            objectManager["drop-box-container"].posArray[x] += 0.05;

                            console.log(`new margin | lower ${objectManager["drop-box-container"].marginArray[2]} upper ${objectManager["drop-box-container"].marginArray[3]}`);
                            document.getElementById(objectManager["drop-box-container"].id).object3D.position.set(objectManager["drop-box-container"].posArray[0], objectManager["drop-box-container"].posArray[1], objectManager["drop-box-container"].posArray[2]);

                          }

                          sessionManager.hand.lastPosition[x] = sessionManager.hand.position[x];
                        };
                    })();
                  }
                }

                  //console.log(`fist closed ${hand.palmPosition[0]} ${hand.palmPosition[1]} ${hand.palmPosition[2]}`);


              renderer.render(scene, camera);
        }})
        .use('handHold')
        .use('handEntry')
        .on('handFound', function(hand){
            hand.fingers.forEach(function (finger) {
                var boneMeshes = [];
                var jointMeshes = [];

                finger.bones.forEach(function(bone) {
                    var boneMesh = new THREE.Mesh(
                        new THREE.CylinderGeometry(5, 5, bone.length),
                        new THREE.MeshPhongMaterial()
                    );
                    boneMesh.material.color.setHex(0xffffff);
                    scene.add(boneMesh);
                    boneMeshes.push(boneMesh);
                });

                for (var i = 0; i < finger.bones.length + 1; i++) {
                    var jointMesh = new THREE.Mesh(
                        new THREE.SphereGeometry(8),
                        new THREE.MeshPhongMaterial()
                    );
                    jointMesh.material.color.setHex(0x00ff00);
                    scene.add(jointMesh);
                    jointMeshes.push(jointMesh);
                }

                finger.data('boneMeshes', boneMeshes);
                finger.data('jointMeshes', jointMeshes);



          });
        })
        .on('handLost', function(hand){
            hand.fingers.forEach(function (finger) {
              var boneMeshes = finger.data('boneMeshes');
              var jointMeshes = finger.data('jointMeshes');
              boneMeshes.forEach(function(mesh){
                scene.remove(mesh);
              });
              jointMeshes.forEach(function(mesh){
                scene.remove(mesh);
              });
              finger.data({
                boneMeshes: null,
                boneMeshes: null
              });
            });

            renderer.render(scene, camera);
        })
        .connect();
        // all units in mm

        var initScene = function () {
          window.scene = new THREE.Scene();
          window.renderer = new THREE.WebGLRenderer({
            alpha: true
          });
          window.renderer.setClearColor(0x000000, 0);
          window.renderer.setSize(window.innerWidth, window.innerHeight);
          window.renderer.domElement.style.position = 'absolute';
          window.renderer.domElement.style.zIndex = '100';
          window.renderer.domElement.style.top = 0;
          window.renderer.domElement.style.left = 0;
          window.renderer.domElement.style.width = '100%';
          window.renderer.domElement.style.height = '100%';
          document.body.appendChild(window.renderer.domElement);
          var directionalLight = new THREE.DirectionalLight( 0xffffff, 1 );
          directionalLight.position.set( 0, 0.5, 1 );
          window.scene.add(directionalLight);
          window.camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 1000);
          window.camera.position.fromArray([0, 100, 500]);
          window.camera.lookAt(new THREE.Vector3(0, 160, 0));
          window.addEventListener('resize', function () {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
            renderer.render(scene, camera);
          }, false);
          scene.add(camera);

          renderer.render(scene, camera);

          setTimeout(function(){
              var viewerTracker = [
                  document.getElementById("webcam-0-container"),
              ];
          }, 250);
        };

        document.addEventListener("DOMContentLoaded", function(){
            initScene();
            sessionManager.connection = io.connect(location.host);
        });

    </script>
</head>
<body>
</body>
<a-scene embbeded background="transparent: true;" style="width: 100%; height: 100%; display: block; position: absolute; top: 50%; left: 50%; margin: -250px 0 0 -250px; z-index: 50;">
  <a-entity geometry="primitive: sphere; radius: 0.5" id="drop-box-container" position="0 0.5 -3" rotation="0 45 0" material="color: #4CC3D9;"></a-entity>
  <!--<a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
  <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
  <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>-->
  <a-entity camera look-controls wasd-controls position="0 1.6 0"></a-entity>
</a-scene>
<div id="main-app-container">
    <video id="webcam-0-container" class="viewer-container" autoplay width="640" height="480" style="border: black 2px solid;"></video>
    <div id="errorMsg"></div>
    <div class="menu-container">
        <div id="link-to-new-rfid-menu-button" class="menu-button">link</div>
    </div>
    <div id="connect-to-rfid-menu-button" class="menu-button"></div>
</div>
</html>
