<html>
<head>
    <title>Bone Hands - Leap</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        
        body, html{
            width: 100%;
            height: 100%;
            z-index: 0;
        }
        
        #action-container{
            display: block;
            width: 200px;
            height: 75px;
            border-radius: 10px;
            position: absolute;
            top: 5%;
            left: 50%;
            margin-left: -100px;
            background-color: white;
            color: black;
            text-align: center;
            line-height: 75px;
            font-size: 20px;
            z-index: 10;
        }
    </style>
    <script src="./js/leap-0.6.4.js"></script>
    <script src="./js/leap-plugins-0.1.6.js"></script>
    <script src="./js/socket.io.js"></script>
    <script src="./js/three.js"></script>
    <script>
        Leap.loop({background: true}, {
            hand: function (hand) {
                hand.fingers.forEach(function (finger) {
                  finger.data('boneMeshes').forEach(function(mesh, i){
                      var bone = finger.bones[i];
                      mesh.position.fromArray(bone.center());
                      mesh.setRotationFromMatrix(
                        (new THREE.Matrix4).fromArray( bone.matrix() )
                      );
                      mesh.quaternion.multiply(baseBoneRotation);
                  });

                  finger.data('jointMeshes').forEach(function(mesh, i){
                      var bone = finger.bones[i];
                      if (bone) {
                        mesh.position.fromArray(bone.prevJoint);
                      }
                      else{
                      // special case for the finger tip joint sphere:
                      bone = finger.bones[i-1];
                      mesh.position.fromArray(bone.nextJoint);
                    }
                  });

                });
                
                if(hand.grabStrength<1){
                    if(hand.palmPosition[0]>100){
                        /*
                        console.log("move drone right");
                        console.log(`last move: ${sessionManager.drone.lastMove}`);
                        */
                        if(sessionManager.drone.lastMove!="right"){
                            sessionManager.moveCount = 0;
                            sessionManager.drone.lastMove = "right";
                        }
                        else {
                            sessionManager.moveCount++;
                            if(sessionManager.moveCount>=5){
                                sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "right"});
                            }
                        }
                    }
                    else if(hand.palmPosition[0]<-100){
                        /*
                        console.log("move drone left");
                        console.log(`last move: ${sessionManager.drone.lastMove}`);
                        */
                        if(sessionManager.drone.lastMove!="left"){
                            sessionManager.moveCount = 0;
                            sessionManager.drone.lastMove = "left";
                        }
                        else {
                            sessionManager.moveCount++;
                            if(sessionManager.moveCount>=5){
                                sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "left"});
                            }
                        }
                    }

                    if(hand.palmPosition[2]>100){
                        /*
                        console.log("move drone back");
                        console.log(`last move: ${sessionManager.drone.lastMove}`);
                        */
                        if(sessionManager.drone.lastMove!="back"){
                            sessionManager.moveCount = 0;
                            sessionManager.drone.lastMove = "back";
                        }
                        else {
                            sessionManager.moveCount++;
                            if(sessionManager.moveCount>=5){
                                sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "back"});
                            }
                        }
                    }
                    else if(hand.palmPosition[2]<15){
                        /*
                        console.log("move drone forward");
                        console.log(`last move: ${sessionManager.drone.lastMove}`);
                        */
                        if(sessionManager.drone.lastMove!="forward"){
                            sessionManager.moveCount = 0;
                            sessionManager.drone.lastMove = "forward";
                        }
                        else {
                            sessionManager.moveCount++;
                            if(sessionManager.moveCount>=5){
                                sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "forward"});
                            }
                        }
                    }

                    if(hand.palmPosition[1]>175){
                        /*
                        console.log("move drone up");
                        console.log(`last move: ${sessionManager.drone.lastMove}`);
                        */
                        if(sessionManager.drone.lastMove!="up"){
                            sessionManager.moveCount = 0;
                            sessionManager.drone.lastMove = "up";
                        }
                        else {
                            sessionManager.moveCount++;
                            if(sessionManager.moveCount>=5){
                                sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "up"});
                            }
                        }
                    }
                    else if(hand.palmPosition[1]<75){
                        /*
                        console.log("move drone down");
                        console.log(`last move: ${sessionManager.drone.lastMove}`);
                        */
                        if(sessionManager.drone.lastMove!="down"){
                            sessionManager.moveCount = 0;
                            sessionManager.drone.lastMove = "down";
                        }
                        else {
                            sessionManager.moveCount++;
                            if(sessionManager.moveCount>=5){
                                sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "down"});
                            }
                        }
                    }

                    if(hand.palmPosition[0]<100&&hand.palmPosition[0]>-100&&hand.palmPosition[2]<100&&hand.palmPosition[2]>15&&hand.palmPosition[1]<175&&hand.palmPosition[1]>75){
                        if(sessionManager.drone.lastMove!="hover"){
                            sessionManager.moveCount = 0;
                            sessionManager.drone.lastMove = "hover";
                        }
                        else {
                            sessionManager.moveCount++;
                            if(sessionManager.moveCount>=5){
                                sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "hover"});
                            }
                        }
                    }
                }
                else{
                    if(sessionManager.drone.lastMove!="land"){
                        sessionManager.moveCount = 0;
                        sessionManager.drone.lastMove = "land";
                    }
                    else {
                        sessionManager.moveCount++;
                        if(sessionManager.moveCount==5){
                            sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "land"});
                        }
                    }
                }
                

                renderer.render(scene, camera);
        }})
        .use('handHold')
        .use('handEntry')
        .on('handFound', function(hand){
            if(sessionManager.drone.lastMove=="start"){
                document.getElementById("main-app-container").style.backgroundColor = "yellow";
                document.getElementById("action-container").innerHTML = "<p>on standby</p>"
            }
            
            hand.fingers.forEach(function (finger) {
                var boneMeshes = [];
                var jointMeshes = [];
                finger.bones.forEach(function(bone) {
                    // create joints
                    // CylinderGeometry(radiusTop, radiusBottom, height, radiusSegments, heightSegments, openEnded)
                    var boneMesh = new THREE.Mesh(
                        new THREE.CylinderGeometry(5, 5, bone.length),
                        new THREE.MeshPhongMaterial()
                    );
                    boneMesh.material.color.setHex(0xffffff);
                    scene.add(boneMesh);
                    boneMeshes.push(boneMesh);
                });

                for (var i = 0; i < finger.bones.length + 1; i++) {
                    var jointMesh = new THREE.Mesh(
                        new THREE.SphereGeometry(8),
                        new THREE.MeshPhongMaterial()
                    );
                    jointMesh.material.color.setHex(0x00ff00);
                    scene.add(jointMesh);
                    jointMeshes.push(jointMesh);
                }
                
                finger.data('boneMeshes', boneMeshes);
                finger.data('jointMeshes', jointMeshes);
                
                if(sessionManager.drone.lastMove!="hover"&&sessionManager.drone.lastMove!="takeoff"){
                    console.log(sessionManager.drone.lastMove);
                    sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "takeoff"});
                    sessionManager.drone.lastMove = "takeoff";
                }
                else if(sessionManager.drone.lastMove=="stop"){
                    sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "hover"});
                }
          });
          /*
            if (hand.arm){ // 2.0.3+ have arm api,
            // CylinderGeometry(radiusTop, radiusBottom, height, radiusSegments, heightSegments, openEnded)
            var armMesh = new THREE.Mesh(
              new THREE.CylinderGeometry(1, 1, hand.arm.length, 64),
              new THREE.MeshPhongMaterial()
            );
            armMesh.material.color.setHex(0xffffff);
            scene.add(armMesh);
            hand.data('armMesh', armMesh);
          }
          */
        })
        .on('handLost', function(hand){
            hand.fingers.forEach(function (finger) {
                var boneMeshes = finger.data('boneMeshes');
                var jointMeshes = finger.data('jointMeshes');

                boneMeshes.forEach(function(mesh){
                    scene.remove(mesh);
                });

                jointMeshes.forEach(function(mesh){
                    scene.remove(mesh);
                });

                finger.data({
                    boneMeshes: null,
                    boneMeshes: null
                });
            });
            
            if(sessionManager.drone.lastMove=="land"){
                document.getElementById("action-container").innerHTML = "<p>landed!</p>";
            }
            else{
                document.getElementById("main-app-container").style.backgroundColor = "yellow";
                document.getElementById("action-container").innerHTML = "<p>on standby</p>";
                sessionManager.connection.emit("CLIENTrequestDroneMovementSERVER", {status: true, direction: "hoverstop"});

                sessionManager.drone.lastMove = "hover";
            }
            
            renderer.render(scene, camera);
        }).connect();
        // all units in mm

        var initScene = function () {
          window.scene = new THREE.Scene();
          window.renderer = new THREE.WebGLRenderer({
            alpha: true
          });
          window.renderer.setClearColor(0x000000, 0);
          window.renderer.setSize(window.innerWidth, window.innerHeight);
          window.renderer.domElement.style.position = 'fixed';
          window.renderer.domElement.style.top = 0;
          window.renderer.domElement.style.left = 0;
          window.renderer.domElement.style.width = '100%';
          window.renderer.domElement.style.height = '100%';
          document.body.appendChild(window.renderer.domElement);
          var directionalLight = new THREE.DirectionalLight( 0xffffff, 1 );
          directionalLight.position.set( 0, 0.5, 1 );
          window.scene.add(directionalLight);
          window.camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 1000);
          window.camera.position.fromArray([0, 100, 500]);
          window.camera.lookAt(new THREE.Vector3(0, 160, 0));
          window.addEventListener('resize', function () {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
            renderer.render(scene, camera);
          }, false);
          scene.add(camera);
          renderer.render(scene, camera);
        };

        var colors = [0xff0000, 0x00ff00, 0x0000ff];
          var baseBoneRotation = (new THREE.Quaternion).setFromEuler(
                new THREE.Euler(Math.PI / 2, 0, 0)
        );

        var sessionManager = {
            connection: null,
            drone: {
                position: null,
                currentDirection: null,
                lastMove : "start",
                moveCount: 0
            }
        };
        
        //600 location 565558
        
        document.addEventListener("DOMContentLoaded", function(){
            initScene();
            sessionManager.connection = io.connect(location.host);

            sessionManager.connection.emit("CLIENTconnectHandToDroneSERVER", {status: true});

            sessionManager.connection.on("SERVERsendDroneMovementResponseToCLIENT", function(data){
                if(data.status){
                    //console.log(`server responded with action: ${data.response}`);
                    document.getElementById("action-container").innerHTML = `<p>${data.response}</p>`;
                    switch(data.response){
                        case "up":
                        case "down":
                        case "left":
                        case "right":
                        case "forward":
                        case "back":
                            document.getElementById("main-app-container").style.backgroundColor = "aquamarine";
                            break;
                        case "hover":
                            document.getElementById("main-app-container").style.backgroundColor = "red";
                            break;
                        case "land":
                            document.getElementById("main-app-container").style.backgroundColor = "blue";
                            break;
                        default:
                            document.getElementById("main-app-container").style.backgroundColor = "yellow";
                            break;
                    }
                }
            });
            
            sessionManager.connection.on("SERVERhandleClientLinkRequestCLIENT", function(data){
                let drone = data.drone;

                sessionManager.drone.position = drone.position;
                sessionManager.drone.currentDirection = drone.heading;

                console.log(sessionManager.drone);
            });
        });

    </script>
</head>
<body id="main-app-container">
    <div id="action-container">no current action</div>
    
</body>
</html>
