<html>
<head>
    <title>Venus Shuttle</title>
    <link rel="stylesheet" href="./css/AugR.css" type="text/css" />
    <script src="./js/leap-0.6.4.js"></script>
    <script src="./js/leap-plugins-0.1.6.js"></script>
    <script src="./js/socket.io.js"></script>
    <script src="./js/three.js"></script>
    <script src="./js/aframe092.min.js"></script>
    <script src="./js/camera-browser.js"></script>
    <!--<script src="./js/augr-hand-tracker.js"></script>-->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            //initScene();
          //  sessionManager.connection = io.connect(location.host);
        });
    </script>
</head>
<body>
</body>
<a-scene embbeded background="transparent: true;" style="width: 100%; height: 100%; display: block; position: absolute; top: 50%; left: 50%; margin: -250px 0 0 -250px; z-index: 50;">
    <a-assets>
      <a-asset-item id="shuttle-body" src="./model/shuttle/shut.3ds.obj" ></a-asset-item>
      <a-asset-item id="engine-body" src="./model/shuttle/eng.3ds.obj" ></a-asset-item>
      <a-asset-item id="thruster-body" src="./model/shuttle/rcs.3ds.obj" ></a-asset-item>
      <a-asset-item id="left-door-body" src="./model/shuttle/door-prt.3ds.obj" ></a-asset-item>
      <a-asset-item id="right-door-body" src="./model/shuttle/door-stb.3ds.obj" ></a-asset-item>
    </a-assets>
    <a-entity obj-model="obj: #shuttle-body;" id="shuttle-body-container" position="0 0.5 -5" scale="0.008 0.008 0.008" rotation="-90 0 0"></a-entity>

    <a-entity obj-model="obj: #engine-body;" id="engine-body-0-container"  material="color: red;" position="-4 1.05 -5" scale="0.008 0.008 0.008" rotation="-90 0 0"></a-entity>
    <a-entity obj-model="obj: #engine-body;" id="engine-body-1-container"  material="color: blue;"position="-4 0.1 -4.51" scale="0.008 0.008 0.008" rotation="-90 0 0"></a-entity>
    <a-entity obj-model="obj: #engine-body;" id="engine-body-2-container"  material="color: aquamarine;"position="-4 0.1 -5.45" scale="0.008 0.008 0.008" rotation="-90 0 0"></a-entity>

    <a-entity obj-model="obj: #thruster-body;" id="thruster-body-0-container" position="-4.2 1.3 -5.7" material="color: violet;"scale="0.01 0.01 0.01" rotation="-90 0 0"></a-entity>
    <a-entity obj-model="obj: #thruster-body;" id="thruster-body-1-container" position="-4.2 1.3 -4.3" material="color: violet;" scale="0.01 0.01 0.01" rotation="-90 0 0"></a-entity>
    <a-entity obj-model="obj: #left-door-body;" id="left-door-body-container" position="0 0.5 -5" material="color: yellow;" scale="0.008 0.008 0.008" rotation="-90 0 0"></a-entity>
    <a-entity obj-model="obj: #right-door-body;" id="right-door-body-container" position="0 0.5 -5" material="color: orange;" scale="0.008 0.008 0.008" rotation="-90 0 0"></a-entity>
    <a-entity position="0 2.85 5" rotation="0 0 0"> <!-- 0 -90 0 look right--> <!-- -90 0 0 look down-->
      <a-entity camera look-controls wasd-controls ></a-entity>
    </a-entity><!---->
</a-scene>
<div id="main-app-container">
    <video id="webcam-0-container" class="viewer-container" autoplay width="640" height="480" style="border: black 2px solid;"></video>
    <div id="errorMsg"></div>
    <div class="menu-container">
        <div id="link-to-new-rfid-menu-button" class="menu-button">link</div>
    </div>
    <div id="connect-to-rfid-menu-button" class="menu-button"></div>
</div>
</html>
