<!DOCTYPE html>
<html>
<head>
    <title>LYOKO Terminal</title>
    <link rel="stylesheet" href="../css/lyoko_terminal.css" typ="text/css" />
    <script src="../js/lyoko_npe.js"></script>
</head>
<body>
    <div id="message-output-container"></div>
    <textarea rows="8" cols="50"id="terminal-input-container"></textarea>
    <input type="button" id="submit-terminal-input-button" value="submit" />
    <div id="atown-output-container"></div>
</body>
</html>
<!-- In the pARk, there is a store called "Snack Shack". In this store, you can stream whatever content you like and watch it with friends. You can also order snacks delivered straight to your Cloud.-->